.mailSearch{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

form .form-group{
    margin-bottom: 2%;
}

hr {
    border: 1px dashed #000 !important;
}

.pagination-wrap {
    text-align: right;
    display: flex;
}

.pagination-wrap nav {
    display: flex;
    width: 100%;
}

.pagination-wrap nav .hidden.sm\:flex-1 {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.pagination-wrap nav .hidden.sm\:flex-1, .pagination-wrap nav .hidden.sm\:flex-1 div {
    display: flex;
}

.pagination-wrap nav svg {
    width: 20px;
}

.pagination-wrap nav span.shadow-sm.rounded-md {
    box-shadow: none !important;
}

.pagination-wrap .hidden.sm\:flex-1 div p.leading-5 {
    margin-bottom: 0;
}

.pagination-wrap a {
    text-decoration: none;
}

.pagination-wrap .flex.justify-between.flex-1.sm\:hidden {
    display: none;
}